*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /*display: block;
    width: 80%;
    margin: auto;*/
    
}

tr{
    padding: 1rem;
    text-align: center;
}

th{
    /*border-bottom: 1px solid black;*/
    text-transform: uppercase;
    background-color: rgb(63, 63, 63);
    textcolo
}
