/* Encabezado */
@font-face {
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    src: local('Satisfy Regular'), local('Satisfy-Regular'), url(https://fonts.gstatic.com/s/satisfy/v7/2OzALGYfHwQjkPYWELy-cw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Subtitulos */
@font-face {
    font-family: 'Just Another Hand';
    font-style: normal;
    font-weight: 400;
    src: local('Just Another Hand Regular'), local('JustAnotherHand-Regular'), url(https://fonts.gstatic.com/s/justanotherhand/v8/fKV8XYuRNNagXr38eqbRfzpTO3zq7FUe5pJUVhf_ntc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }

/* Texto */
@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  src: local('Mukta Regular'), local('Mukta-Regular'), url(https://fonts.gstatic.com/s/mukta/v3/q-tytnvlzg1nj8JgRZDYrw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

header{
  font-family: "Satisfy", Arial; 
  text-align: center;
  color: #FF0062;
  font-size: 30px;
}

.encabezado{
  font-family: "Just Another Hand", Arial; 
  text-align: center;   
  color: #FF798D; 
  font-size: 20px;
}

.contenido{
  font-family: "Mukta", Arial; 
  margin: 2%;
  color: white;
}

body {
  background: -webkit-linear-gradient(-45deg, #FF93D6, #ACC9FC);
  margin: 0;
  padding: 0;
}

thead th {
  background: rgb(255, 0, 106);
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Mukta", Arial;    
}

tr {
  background: rgba(255, 255, 255, 0.38);
  border-bottom: 1px;
}

th, td {
  font-size: 15px;
  text-align: center;
}

h3{
    text-transform: uppercase;
}